body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
}

.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 60px;
}

.image-container{
    flex: 1;
    padding: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.form-container {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
    margin-bottom: 200px;
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    height: 15px;
    font-size: .9rem;
}

.form-group input::placeholder {
    font-size: .65rem;
}

h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: .9rem;
    font-weight: bold;
}
.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 350px;
}

.register-button {
    margin-top: 10px;
    border: none;
    background: none;
    color: black;
    cursor: pointer;
}