.register-sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    background-color: none;
    color: #333;
    position: relative;
}
.shooping-bag:hover{
    color: #ff5733; /* Cambia el color al pasar el cursor sobre el elemento */
  }