.body {
    grid-area: body;
}

.nav {
    position: fixed;
    top: 10px;
    right: 10px;
}

.right-section {
    display: flex;
    gap: 15px;
    list-style: none;
}

.navbar-image {
    width: 250px;
    object-fit: contain;
}

.gender-section{
    display: flex;
    gap: 35px;
    justify-content: center;
    padding: 10px;
}